.git
.idea
.pytest_cache
__pycache__
*.py[cod]

.env
.env.*
!.env.example

frontend/flutter_app/build
frontend/flutter_app/.dart_tool
frontend/flutter_app/.pub-cache

ml/dataset*
ml/runs
outputs
runs
wandb

*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
